/* ========TABLE OF CONTENTS==========

00. BODY, LINKS, SECTION TITLES, GENERAL
01. HEADERBAR, NAVIGATION
02. SECTION HOME
	HOME GALLERY
	INTERESTING FACTS
03. SECTION ABOUT
	ABOUT GALLERY
	HOW I WORK
	INSPIRATIONAL QUOTES
04. SECTION SERVICES
	LIST OF SERVICES
	WHY CHOOSE US
05. SECTION PROJECTS (WORKS)
	FROJECTS FILTERS
	LIST OF PROJECTS
06. SECTION CONTENT OF PROJECTS
	SOUND DESIGN
07. SECTION PLANNER
08. SECTION CONTACTS
09. SECTION COPY RIGHT
10. SECTION FOOTER
*/

/*
=====================================================================
========00. BODY, LINKS, SECTION TITLES, GENERAL==========
=====================================================================
*/


@charset "UTF-8";

/* === Reset & Clearfix */

@font-face {
    font-family: GloberThin;
    src: url(../fonts/GlametrixLight.otf);
}

@font-face {
    font-family: GlametrixLight;
    src: url(../fonts/GlametrixLight.otf);
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
 	font-size: 18px;
	word-spacing: 1px;
	line-height: 24px;
	font-family: 'GlametrixLight';
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;
	color: #333;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}

img {
    max-width: 100%;
}


.green-text h1, h2, h3, h4{
	color: #666981;
}

.green-text h1 {
	color: #FFDE56;
}

.green-text a {
	border-color: #666981;
}

h3 {
	margin: 0;
}

h2.styled-title {
	font-size: 35px;
	word-spacing: 5px;
	font-weight: 600;
	letter-spacing: 1px;
}

h3.styled-title {
	font-size: 28px;
	word-spacing: 5px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 10px 0 15px 0;
}

.styled-title.green-text {
    color: #FFDE56 !important;
}

.center {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

hr {
	width: 80px;
	border: none;
	height: 4px;
	background-color: #465b64;
	border-width: 0.7px;
}

::selection {color:#FFDE56; background: #57717d;}
::-moz-selection {color:#FFDE56;background:#57717d;}

.diamond-box-wrap { 
    visibility: visible;
}


/* ----- this is the background of the page ----- */

#page-border {
	background: #FFFCE5;
	margin:20px;
}

#wrap,
.container-wrapper {
    max-width: 100%;
}

@media (max-width: 767px) {
    #page-border {
        margin: 0;
    }
}

 a {
	-webkit-transition: all 275ms;
	-moz-transition: all 275ms;
	-o-transition: all 275ms;
	transition: all 275ms;
	cursor: pointer;
	text-decoration: none;
	color: #181818;
	border-bottom: 1px solid #16a6b6;
}

.clearfix:before,
.clearfix:after {
    width: 100%;
}

h1.fewwords {
	font-family: 'Montserrat', sans-serif;
	font-size: 84px;
	word-spacing: 10px;
	line-height: 90px;
	text-transform: uppercase;
	letter-spacing: -3px;
	font-weight: 800;
	color: #2fdab8;
	text-align: center;
	margin: 1em 0 0;
}

@media (max-width: 767px) {

    h1.fewwords{
    font-size: 40px;
    line-height: 60px;
    margin: 0.5em 0 0;
    }
}

h1.fewwords::after {
	content: " ";
	background: url("../img/zigzag.png") no-repeat top center;
	display: block;
	width: 5em;
	margin: 0.4em auto auto auto;
	padding: 10px;
}

.intro-text{
	width: 80%;
	font-size: 28px;
	word-spacing: 1px;
	line-height: 36px;
	text-align: center;
	text-align: -webkit-center;
	margin: 50px auto 20px auto;
}


ul li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

iframe {
	width: 100%;
	height: 166px;
	overflow: hidden;
	border: none;
}



/*
=====================================================================
========01. HEADERBAR, NAVIGATION==========
=====================================================================
*/

.navbar.navbar-default {
    border: 0;
    border-radius: 0;
    z-index: 9999;
}

.navbar.navbar-default .navbar-header a.navbar-brand {
    border: none;
    padding: 0;
    padding-top: 10px;
}

.navbar.navbar-default .nav-tabs {
	border: none;
}

.navbar.navbar-default .nav-tabs > li {
    width: 14.2%;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: -5px;
}

.navbar-toggle {
    padding: 3px;
    margin-top: 15px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.navbar.navbar-default .navbar-header a.navbar-brand img {
    display: block;
    padding: 5px 15px 15px 15px;
    border-radius: 50%;
    background-color: #57717d;
    width: 100px;
    height: 90px;
    margin-top: -7px;
}

.navbar.navbar-default .nav-tabs a.navbar-brand img {
    display: inline-block;
    padding: 15px 15px 15px 15px;
    border-radius: 50%;
    width: 128px;
    margin-top: -20px;
}

.navbar.navbar-default .nav-tabs a:not(.navbar-brand) {
    background: rgba(0, 0, 0, 0);
    border: none;
    font-family: 'GlametrixLight';
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    line-height: 35px;
    padding-top: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fedd56;
}

.navbar.navbar-default .nav-tabs a.navbar-brand {
    text-align: center;
    padding: 0;
    display: block;
    width: 100%;
    border: 0;
    float: none;
    margin: 0;
}

.navbar.navbar-default.navbar-fixed-top .nav-tabs a.navbar-brand img {
    min-width: 84px;
    width: 84px;
}

.navbar.navbar-default.navbar-fixed-top .nav-tabs a {
    font-size: 16px;
    padding: 9px 15px 0px 15px;
}

.navbar.navbar-default .nav-tabs a:hover {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.navbar.navbar-default .nav-tabs .active a,
.navbar.navbar-default .nav-tabs a:hover {
	color: rgba(255, 255, 255, 0.5);
	filter:alpha(opacity=30); /* For IE8 and earlier */
	webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;

}

.navbar.navbar-default .nav-tabs .active a{
	opacity: 1 !important;
	color: #FFED24;
	font-weight: 800;
}

@media (max-width: 767px) {
    .navbar.navbar-default .nav-tabs > li {
        width: 100%;
        display: block;
    }
}

.navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*
=====================================================================
==========02. SECTION HOME==========
=====================================================================
*/

/* ====HOME GALLERY==== */

.home-gallery {
	margin: 0 auto;
}

.home-gallery a {
	border: none;
	position: absolute;
	width: 200px;
	height: 200px;
}

.flip-wrapper {
    width: 100%;
    padding-top: 20px;
}


.flip-container:hover .flipper,
.flip-container.hovered .flipper {
    transform: rotateY(180deg);
}

.flip-container {
	height: 198px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
}

.flip-container img {
    max-width: 100%;
}

.flip-container .flipper-front,
.flip-container .flipper-back  {
    width: 100%;
    height: 100%;
}

.flip-container .flipper-back  a {
    display: block;
}

.flip-container .flipper-front .square {
    width: 100%;
}

.flipper {
	transition: 1.0s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.flipper-front,
.flipper-back {
	position: absolute;
	top: 0;
	left: 0;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;

    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
}

/* front pane, placed above back */
.flipper-front {
	z-index: 2;
	/* for firefox 31 */
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -ms-transform: perspective(1000px) rotateY(0deg);
    -moz-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);

    backface-visibility:     visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility:    visible;
    -ms-backface-visibility:     visible;
}

/* back, initially hidden pane */
.flipper-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;

    -webkit-transform: perspective(1000px) rotateY(180deg);
    -ms-transform: perspective(1000px) rotateY(180deg);
    -moz-transform: perspective(1000px) rotateY(180deg);
    transform: perspective(1000px) rotateY(180deg);
}

.hovered .flipper-front .circle {
    visibility: hidden;
}

.hovered .flipper-front {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.hovered .flipper-back {
    z-index: 3;
    backface-visibility:     visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility:    visible;
    -ms-backface-visibility:     visible;
}

@media (max-width: 767px) {
	.flip-container .flipper,
	.flip-container.hovered .flipper {
		transform: rotateY(180deg);
	}

    .flipper-front {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
    }

    .flipper-back {
        z-index: 3;
        backface-visibility:     visible;
        -webkit-backface-visibility: visible;
        -moz-backface-visibility:    visible;
        -ms-backface-visibility:     visible;
    }
}

.ismobile .flip-container .flipper,
.ismobile .flip-container.hovered .flipper {
    transform: rotateY(180deg);
}

.ismobile .flipper-front {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.ismobile .flipper-back {
    z-index: 3;
    backface-visibility:     visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility:    visible;
    -ms-backface-visibility:     visible;
}

.circle {
	position: absolute;
	width: 45px;
	height: 45px;
	border: 7px #FFDE56 solid;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	/* text-align: -webkit-center; */
	left: 50%;
	top: 44px;
	/* right: -22px; */
	line-height: 58px;
	font-size: 24px;
	margin: 22px 0 0 -22px;
}

.circle-img {
	background: url(../img/6.jpg) 25% 25%;
}

.circle.center-circle{
	position: relative;
}


/* ====INTERESTING FACTS==== */

#facts {
	padding-top: 30px;
	padding-bottom: 60px;
}

.my-facts h2 {
	padding: 10px 0 30px 0;
}

h4.fact-title {
	font-size: 23px;
	word-spacing: 1px;
	line-height: 21px;
	font-family: 'GlametrixLight';
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;
	color: #333;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
}

/*
=====================================================================
==========03. SECTION ABOUT==========
=====================================================================
*/

/* ====ABOUT GALLERY==== */

.about-photo {
    display: flex;
    height: 36vw;
    width: 80%;
    max-height: 460px;
    margin-left: 10%;
}

.flex-col {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.flex-col > .photo-sets  {
    background-size: cover;
    width: 98%;
    height: 98%;
    margin: 1%;
}

.flex-row {
    flex: 1;
    margin: 1%;
    flex-direction: row;
    display: flex;
}

.flex-col.middle {
    flex: 2;
}

.flex-col.middle .flex-row > div {
    width: 98%;
    height: 98%;
    margin: 1%;
    background-size: cover;
}

.photo-sets {
    border-radius: 10px;
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    position: relative;
}

.photo-sets:hover{
	-webkit-filter: grayscale(100%);
	webkit-transition: all 0.9s ease-out;
	-moz-transition: all 0.9s ease-out;
	-o-transition: all 0.9s ease-out;
	-ms-transition: all 0.9s ease-out;
	transition: all 0.9s ease-out;
}

.photo {
    background: url("../img/about1.jpg");
}

.photo2 {
    background: url("../img/about2.jpg");
}

.photo3 {
    background: url("../img/about3.jpg");
}


.photo4 {
    background: url("../img/about4.jpg");
}

.photo5 {
    background: url("../img/about5.jpg");
}

.photo6 {
    background: url("../img/about6.jpg");
}





/* ====HOW I WORK==== */

#process {
	padding: 30px 0 0 0;
	text-align: center;
	margin: 0 auto;
}

.process-wrapper {
	margin: 0 auto;
	display: inline-block;
	padding-top: 20px;
}

.process-kind {
	position: relative;
}

.process-kind img {
	padding-bottom: 15px;
	margin: 0 auto;
}

.our-process-intro p {
	padding-top: 40px;
	font-size: 28px;
	word-spacing: 1px;
    line-height: 36px;
}

.process-kind p {
	padding-top: 15px;
	font-family: 'GlametrixLight';
	font-size: 23px;
	vertical-align: middle;
	display: table-cell;
	font-weight: 300px;
	letter-spacing: 2px;
	line-height: 25px;
}

.dash1 {
	position: absolute;
	width: 108px;
	height: 51px;
	left: 84%;
	top: 25%;
	background: url("../img/dash1.png");
	background-repeat: no-repeat;
}

.dash2 {
	position: absolute;
	width: 132px;
	height: 56px;
	left: 80%;
	top: 25%;
	background: url("../img/dash2.png");
	background-repeat: no-repeat;
}


/* ====INSPIRATIONAL QUOTES==== */


.quote-content {
	padding: 30px 0;
	text-align: center;
	margin: 0 auto;
}

.quote {
	font-size: 20px;
	margin: 40px auto;
	max-width: 500px;
	width: 90%;
}

.quote-text p {
	font-size: 25px;
}

.quote:last-child {
	padding-bottom: 40px;
}

.min-border {
	width: 20px;
	border-bottom: 2px solid #ccc;
	height: 1px;
	margin: 10px auto;
}

.author {
	font-style: italic;
	font-size: 25px;
}

.img-up-quote {
	background: url("../img/quote.svg");
	width: 32px;
	height: 32px;
	margin-right: auto;
}

.img-down-quote {
	background: url("../img/quote2.svg");
	width: 32px;
	height: 32px;
	margin-left: auto;
}

.border-left {
	border-left: 10px solid #526973;
	padding-left: 32px;
	border-radius: 50px;
}

.border-right {
	border-right: 10px solid #526973;
	padding-right: 32px;
	border-radius: 50px;
}







/*
=====================================================================
========04. SECTION SERVICES==========
=====================================================================
*/

/* ====LIST OF SERVICES==== */

.services-wrapper {
	clear: both;
}

.services-item {
	margin-top: 15px;
    margin-bottom: 15px;
}

.services-item h3{
	padding: 10px 0 0 0;
	padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
	border-bottom: 1px solid rgba(204, 204, 204, 0.21);
}

.services-item h3:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	webkit-transition: all 0.9s ease-out;
	-moz-transition: all 0.9s ease-out;
	-o-transition: all 0.9s ease-out;
	-ms-transition: all 0.9s ease-out;
	transition: all 0.9s ease-out;
}

.services-item-content {
	border: 1px solid rgba(204, 204, 204, 0.18);
    padding: 30px 30px;
    background: rgba(87, 113, 125, 0.36);
    min-height: 540px;
}

.services-item-content img {
	width: 115px;
    height: 115px;
    position: relative;
    display: inline-block;
}

.p-seo {
	padding-bottom: 22px;
}

.services-item ul {
	padding: 10px 0 0 0;
	margin: 0;
	margin-left: 45px;
	text-align: left;
	display: inline-block;
}

.services-item li {
	list-style: disc;
	font-size: 25px;
	width: 100%;
	list-style-image: url("../img/diamond.png");
	line-height: 25px;
}

.services-item-content p {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 0;
	margin-top: 1em;
}

.p-padding {
	padding: 5px 0;
}

.p-sets {
	margin-bottom: 9px;
}


/* ====WHY CHOOSE US==== */

.choose {
	margin: 0 auto;
	padding-bottom: 70px;
}


.choose h2 {
	text-transform: uppercase;
	padding: 30px 0 20px 0;
	word-spacing: 5px;
}

.iconbox {
	padding-top: 21px;
	padding-bottom: 10px !important;
	position: relative;
	min-height: 106px;
	padding-left: 95px;
	cursor: default;
}

h5.iconbox-title {
	text-transform: uppercase;
	font-size: 23px;
	font-weight: bold;
	color:#666981;
	letter-spacing: 1px;
}

.iconbox-body p {
	font-size: 25px;
	line-height: 25px;
}

.even .iconbox {
	padding-right: 125px;
	padding-left: 0;
	text-align: right;
	text-align: -webkit-right;
}

span {
	margin: 10px;
	font-size: 90px;
	color: #f7dc6e;
}

.iconbox .ico {
	position: absolute;
	width: 66px;
	height: 66px;
	border: 3px #c6cacc solid;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	text-align: -webkit-center;
	top: 21px;
	left: 0px;
	line-height: 58px;
	font-size: 24px;
	color: #243741;
}

.even .iconbox .ico {
	right: 30px;
	left: auto;
}

.odd .iconbox {
	padding-right: 0;
	text-align: left;
	text-align: -webkit-left;
}

.odd {
	float: right;
}

.ico-code {
	background: url("../img/code.png");
	background-repeat: no-repeat;
	background-position: center;
}

.ico-new {
	background: url("../img/new.png");
	background-repeat: no-repeat;
	background-position: center;
}

.ico-design {
	background: url("../img/design.png");
	background-repeat: no-repeat;
	background-position: center;
}

.ico-support {
	background: url("../img/support.png");
	background-repeat: no-repeat;
	background-position: center;
}

.ico-tick {
	background: url("../img/tick.png");
	background-repeat: no-repeat;
	background-position: center;
}

.ico-upload {
	background: url("../img/upload.png");
	background-repeat: no-repeat;
	background-position: center;
}



/*
=====================================================================
==========05. SECTION PROJECTS (WORKS)==========
=====================================================================
*/

/* ====PROJECT FILTERS==== */

#filtered-list .gap {
    display: inline-block;
}

#projects-filters li,
#tattoo-filters li,
#drawing-filters li
{
	font-family: 'GlametrixLight';
	text-transform: uppercase;
	position: relative;
	font-size: 22px;
	color: #ccc;
	overflow: hidden;
	text-decoration: none;
	outline: none;
	text-align: center;
	line-height: 200%;
	cursor: pointer;
}

#projects-filters .active,
#projects-filters li:hover,
#tattoo-filters .active,
#tattoo-filters li:hover,
#drawing-filters .active,
#drawing-filters li:hover {
	background-color: #16a6b6;
	color: #fff;
	webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}


/* ====LIST OF PROJECTS==== */

.projects-wrap {
	width: 100%;
	min-height: 500px;
	position: relative;
	display: inline-block;
	padding: 50px 0 94px 0;
}

@media (max-width: 767px) {

    .projects-wrap {
        padding: 50px 0 0px 0;
	}
}

a.item {
	border: none;
	display: inline-block;
}

.item img {
	width: 200px;
	height: 200px;
}


/*
=====================================================================
==========06. SECTION CONTENT OF PROJECTS==========
=====================================================================
*/

.project-content {
	width: 100%;
	margin: 0 auto;
}

.project-desc-place {
	width: 100%;
	margin: 0 10px;
}

.project-desc {
	font-size: 25px;
    text-align: center;
	padding: 0 15px 1em 15px;
}


.project-place-wrap {
	position: relative;
	margin-top: 50px;
}

@media (max-width: 767px) {
    .project-place-wrap{
    	margin-top: 40px;
    }
}

.project-planner-wrap p {
	text-align: center;
	margin: 0 auto;
	padding: 20px 5px 43px 5px;
}

ul.line-elements.padding-top.width {
	min-height: 230px;
}

ul.project-slider {
	margin: 0;
	position: absolute;
	top: 4.4%;
	left: -0.7%;
	right: 4.9%;
	bottom: 31.8%;
	height: auto;
	width: auto;
	overflow: hidden;
}

div.project-images-place.imac {
	height: 625px !important;
	width: 753px !important;
}

.project-slider img {
	width: 90%;
}

.project-images-place { position: relative; overflow: auto; }
    .project-images-place  li { list-style: none; }
        .project-images-place  ul li { float: left; }

.project-images-place{
	width: 70%;
}

.imac{
	background: url("../img/imacpng.png") no-repeat;
	width: 800px;
	height: auto;
}

li.project-photo{
	height: 400px !important;
}

div.project-images-place.imac {
	float: left;
}


.project-description {
	font-size: 25px;
	padding: 0 0px 1em 0px;
}

.project-feature{
	display: inline-block;
}

.list-feature{
	display: inline-block;
	padding: 0;
	font-size: 23px;
}

.project-feature-place{
	float: right;
	width: 22%;
	margin-left: 2%;
	text-align: left;
}

.project-feature-place li {
	margin: 2%;
	list-style: none;
}

.project-title h4{
	margin: 10px 0 0 0;
	font-size: 30px;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	font-family: 'GlametrixLight';
	padding-bottom: 10px;

}


.button-live a {
	text-align: center;
	display: block;
	border: none;
	font-size: 20px;
	color: #fff;
	letter-spacing: 2px;
	margin: 20% auto;
}

.button-live a:hover {
	color: #fff;
}

.button-live{
	width: 80px;
	height: 80px;
	border: none;
	font-size: 20px;
	font-family: inherit;
	padding: 10px;
	font-size: 20px;
	border-radius: 50%;
	background: #c6cacc;
	cursor: pointer;
	float: left;

	webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}

.button-live:hover{
	background: #16a6b6;
	color: #fff;
	webkit-transition: all 0.9s ease-out;
	-moz-transition: all 0.9s ease-out;
	-o-transition: all 0.9s ease-out;
	-ms-transition: all 0.9s ease-out;
	transition: all 0.9s ease-out;
	   /* Rotate */
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);s
}

.button-buy a {
	text-align: center;
	display: block;
	border: none;
	font-size: 17px;
	color: #fff;
	letter-spacing: 2px;
	margin: 13% auto;
}

.button-buy a:hover {
	color: #fff;
}


.button-buy{
	width: 57px;
	height: 57px;
	border: none;
	font-family: inherit;
	padding: 10px;
	font-size: 20px;
	border-radius: 50%;
	background: #c6cacc;
	cursor: pointer;
	float: left;
	position: relative;
	top: 14px;
	margin-bottom: 10px;
	margin-left: 10px;

	webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}

.button-buy:hover{
	background: #16a6b6;
	color: #fff;
	webkit-transition: all 0.9s ease-out;
	-moz-transition: all 0.9s ease-out;
	-o-transition: all 0.9s ease-out;
	-ms-transition: all 0.9s ease-out;
	transition: all 0.9s ease-out;
	   /* Rotate */
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
}


.project-images-place { position: relative; overflow: auto; }
    .project-images-place li { list-style: none; }
        .project-images-place ul li { float: left; }



/* ====LOGO DESIGN==== */

.logo-projects {
}

.logo-projects img {
    max-width: 100%;
}

.projects-logo-text {
	background-color: #fff;
	padding: 40px;
	margin: 0;
	margin-bottom: 50px;
	font-size: 23px;
	text-align: left;
	color: #57717d;
}

.right-side {
	position: relative;
	left: 3px;
	box-shadow: 0 15px 10px rgb(87, 113, 125);

    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

.left-side {
	position: relative;
	left: -3px;
	box-shadow: 0 15px 10px rgb(87, 113, 125);

    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
	transform: rotate(2deg);
}


/* ====SOUND DESIGN==== */

.radio-ads-projects li.radio-ads{
	background-color: #f6f6f6;
	border: 1px solid #e4e6e8;
	margin-bottom: 20px;
	padding: 15px 15px;
}


.radio-ads-projects .radio-space{
	background-color: #fff;
	color: #57717d;
	padding: 40px;
	margin-top: 15px;
}

@media (max-width: 767px) {
    .radio-ads-projects .radio-space{
    	padding: 20px;
    }
}

.radio-ads-projects .radio-space p {
	font-size: 23px;
	text-align: left;
}

.radio-ads-projects .radio-title h2 {
	text-align: left;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 40px;
	font-weight: 600;
	color: #2fdab8 !important;
}




/*
=====================================================================
==========07. SECTION PLANNER==========
=====================================================================
*/

#planningform fieldset {
	border: none;
	padding: 30px 0 0 0;

    font-family: 'GlametrixLight';
}

fieldset {
    padding: 30px 0 0 0;
}

.project-type-title{
	font-size: 20px !important;
}

#planningform fieldset h3 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 0 15px 0;
}

#planningform fieldset h3::after {
	content: " ";
	border: solid 2px #EAE3E4;
	display: block;
	width: 1em;
	margin: 0.4em auto auto auto;
}

#contactform .form-group,
#planningform .form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

#contactform fieldset h3::after {
    content: " ";
    border: solid 2px #EAE3E4;
    display: block;
    width: 1em;
    margin: 0.4em auto auto auto;
}

#planningform .radio-projects.row .form-group input {
    height: 43px;
}

#contactform .form-control,
#planningform .form-control {
    height: 46px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    border: none;
    border-right: 2px solid #68cab6;
    border-bottom: 4px solid #68cab6;
    background: #f9f5f2;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    font-family: inherit;
    font-size: 22px;
    color: #16a6b6;
}

#contactform .radio input[type=radio],
#planningform .radio input[type=radio] {
	display: none;
}

#contactform .radio-projects div.radio,
#planningform .radio-projects div.radio {
	padding: 10px;
	background: #546c77;
	border-radius: 5px;

    -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#contactform .radio-projects div.radio:hover,
#planningform .radio-projects div.radio:hover {
	background: #68cab6;
	color: #fff;
}

#contactform .radio label,
#planningform .radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding: 0 30px;
	font-size: 22px;
    min-width: 180px;
}

#contactform .radio label:before,
#planningform .radio label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #f7dc6e;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

#planningform .radio-projects label:before {
	border-radius: 8px;
	top: 4px;
}

#contactform input[type=radio]:checked + label:before,
#planningform input[type=radio]:checked + label:before {
    background:  #68cab6;
}

#contactform .description,
#planningform .description {
	padding: 20px 0;
	margin: 10px auto 0 auto;
	max-width: 550px;
}

#contactform textarea,
#planningform textarea {
	border: none;
	border-right: 2px solid #68cab6;
	border-bottom: 4px solid #68cab6;
	border-radius: 5px;
	background: none;
	max-width: 550px;
	min-height: 160px;
	outline: none;
	padding: 15px 15px 50px 15px;
	font-family: inherit;
	font-size: 22px;
	color: #16a6b6;
	background: #f9f5f2;
}

#contactform .button-submit button,
#planningform .button-submit button {
    position: relative;
	bottom: 82px;
	width: 100px;
	height: 100px;
	border: none;
	font-size: 20px;
	font-family: inherit;
	padding: 15px;
	color: #6b6b6b;
	font-size: 20px;
	border-radius: 50%;
	background: #f7dc6e;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#contactform .button-submit button:hover,
#planningform .button-submit button:hover {
	background: #16a6b6;
	color: #fff;

    /* Rotate */
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
}




/*
=====================================================================
==========08. SECTION CONTACTS==========
=====================================================================
*/

.location-info{
	padding-top: 30px;
}

.contacts-wrapper .contacts-intro {
    margin-bottom: 15px;
}

form#contactform {
    padding-bottom: 30px;
}

.contacts-wrapper .contact-image {
	background: url("../img/simona.jpg") no-repeat 50%/cover;
	height: 450px;
}

.contacts-wrapper #map {
    height: 450px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.contacts-wrapper #map > div {
    top: 0;
    left: 0;
}

.contacts-wrapper address.adr {
	border-right: 1px solid #ccc;
}

.contacts-wrapper .contact-info{
  	padding: 50px;
  	background: #fff;
  	margin-bottom: 25px;
  	font-size: 20px;
}

.contacts-wrapper .road,
.contacts-wrapper .phone,
.contacts-wrapper .website,
.contacts-wrapper .mail,
.contacts-wrapper .follow {
    padding: 5px;
    display: table;
    color: #57717d;
}

.contacts-wrapper .more-info .follow em,
.contacts-wrapper address.adr em {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 15px;
}

.contacts-wrapper .more-info .follow em {
    float: right;
}

.icon-location {
  	background: url("../img/location.svg") no-repeat;
}

.icon-phone {
  	background: url("../img/phone.svg") no-repeat;
}

.icon-web {
	background: url("../img/website.svg") no-repeat;
}

.icon-mail {
	background: url("../img/mail.svg") no-repeat;
}

.icon-twitter {
	background: url("../img/twitter.svg") no-repeat;
}

.icon-facebook {
	background: url("../img/facebook.svg") no-repeat;
}

.icon-insta {
	background: url("../img/instagram.svg") no-repeat;
}

.contacts-wrapper em {
    color: #ccc;
}

.contacts-wrapper .website a,
.contacts-wrapper .mail a,
.contacts-wrapper .follow a {
    text-transform: none;
    color: #6b6b6b;
    border: none;
    padding-right: 10px;
}

.contacts-wrapper .website a:hover,
.contacts-wrapper .mail a:hover,
.contacts-wrapper .follow a:hover{
    color: #16a6b6;
}

.contacts-wrapper .more-info .follow {
	float: right;
}

.contacts-wrapper .more-info h5 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    padding: 0 10px 10px 0;
    font-weight: 600;
    letter-spacing: 1px;
    color:#666981;
}

.contacts-wrapper .facebook,
.contacts-wrapper .twitter,
.contacts .instagram {
    float: right;
    margin: 20px 0 10px 0;
}

#contactform .description,
#contactform textarea {
    max-width: 100%;
}

@media (max-width: 767px) {
    .contacts-wrapper .contact-info {
        padding: 25px;
    }

    .contacts-wrapper address.adr {
        border-right: none;
    }

    .contacts-wrapper .more-info h5 {
        text-align: left;
    }

    .contacts-wrapper .more-info .follow {
        float: left;
    }

    .contacts-wrapper .more-info .follow em {
        float: left;
    }
}



/*
=====================================================================
==========09. SECTION COPY RIGHT==========
=====================================================================
*/

.copyright {
    width: 100%;
	max-width: 950px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 70px;
	padding-top: 40px;
	border-top: 1px dashed #9c9c9c;
	font-size: 20px;
}

.copyright-content a{
	color: #e4e4e4;
	text-decoration: none;
}

.copyright-content a:hover{
	color: #16a6b6;
}



/*
=====================================================================
==========10. SECTION FOOTER==========
=====================================================================
*/

.footer {
	min-height: 60px;
	margin-left: auto;
	bottom: -8px;
	right: 11px;
	position: fixed;
	z-index: 8888;
}

.footer-menu {
	width: auto;
	text-align: center;
	text-align: -webkit-center;
	margin: 15px;
	padding: 0 12px;
	letter-spacing: 2px;
	word-spacing: 3px;
	font-size: 22px;
}

.footer-menu a {
	color: #fff;
	border: none;
	text-decoration: none;
	margin: 0 2px;
}

.footer-menu a:hover {
	border-bottom: 3px solid #ccc;
	color: #ccc;
	webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}


/*
=====================================================================
========12. LOADER ==========
=====================================================================
*/

body.loading #page-border {
    visibility: hidden;
}

body.loading .loader-container {
    display: block;
}

.loader-container.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #57717d;
    z-index: 9999;
    display: none;
}

.loader {
    width: 233px;
    margin: auto;
    vertical-align: middle;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -116px;
    margin-top: -11px;
    text-align: center;
}

.loader h1 {
  font-family: 'GlametrixLight';
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: 20px;
  -webkit-animation: fade 2s infinite;
  -moz-animation: fade 2s infinite;
}

.loader .stick {
  width: 30px;
  height: 3px;
  background: #FFDE56;
  display: inline-block;
  margin-left: -8px;
}

.loader .stick:nth-child(n) {
  transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  /* IE 9 */
  -webkit-transform: rotate(30deg);
  /* Safari and Chrome */
  -moz-transform: rotate(30deg);
  -webkit-animation: fall 2s infinite;
  -moz-animation: fall 2s infinite;
}

.loader .stick:nth-child(2n) {
  transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  /* IE 9 */
  -webkit-transform: rotate(-30deg);
  /* Safari and Chrome */
  -moz-transform: rotate(-30deg);
  -webkit-animation: rise 2s infinite;
  -moz-animation: rise 2s infinite;
}

@-webkit-keyframes rise {
  50% {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }
}
@-moz-keyframes rise {
  50% {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }
}
@-o-keyframes rise {
  50% {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }
  @keyframes rise {
    50% {
      transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      /* IE 9 */
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
    }
  }
}
@-webkit-keyframes fall {
  50% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(30deg);
  }
}
@-moz-keyframes fall {
  50% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
  }
}
@-o-keyframes fall {
  50% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(30deg);
  }
  @keyframes fall {
    50% {
      transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      /* IE 9 */
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(30deg);
    }
  }
}
@-webkit-keyframes fade {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  @keyframes fade {
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}

/*
=====================================================================
========13. SITE COLORS ==========
=====================================================================
*/

/*
GREY color
*/

body.grey,
body.grey .footer{
	background: #57717d;
}

body.grey #page-border{
	background: #607d8b;
}

body.grey h1.fewwords{
	color: #FFDE56;
}

body.grey,
body.grey h4.fact-title{
	color: #e4e4e4;
}

body.grey h3.styled-title{
	color: #ececec;
}

body.grey .navbar.navbar-default{
	background: #57717d;
}

body.grey .navbar.navbar-default .nav-tabs a.navbar-brand img{
	background: #57717d;
}

body.grey .footer{
	background: #57717d;
}

body.grey .circle{
	border: 7px solid #FFDE56;
}

body.grey h2,
body.grey h5.iconbox-title {
    color: #3d3d3d;
}


/*
WHITE color
*/


body.white,
body.white .footer{
	background: #000;
}

body.white #page-border{
	background: #fff;
}

body.white h1.fewwords{
	color: #000;
}

body.white, h4.fact-title{
	color: #000;
}

body.white h3.styled-title{
	color: #000;
}

body.white .navbar.navbar-default{
	background: #000;
}

body.white .navbar.navbar-default .nav-tabs a.navbar-brand img{
	background: #000;
}

body.white .footer{
	background: #000;
}

body.white h2,
body.white h5.iconbox-title{
	color: #3d3d3d;
}

body.white .circle{
	border: 7px solid #000;
}

body.white .copyright-content a {
    color: #000;
}

body.white #drawing-filters li{
	color: #000;
}

body.white #drawing-filters li:hover{
	color: #fff;
	background-color: #000;
}

body.white #contactform .form-control,
body.white #planningform .form-control{
	border-right: 2px solid #000000;
    border-bottom: 4px solid #000000;
}

body.white #planningform .radio-projects div.radio{
	background-color: rgba(0,0,0,0.50);
	color: #fff;
}

body.white #contactform .button-submit button,
body.white #planningform .button-submit button{
	background: #000;
}

body.white #contactform .button-submit button,
body.white #planningform .button-submit button:hover{
	background: #000;
}

body.white .radio-ads-projects .radio-space {
    color: #000000;
}

body.white .logo-projects img {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.12);
}

body.white .right-side, .left-side {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.12);
}

body.white .loader-container.backdrop {
    background: #000;
}

body.white .services-item-content {
    border: 1px solid rgba(0,0,0,0.38);
    background: rgba(255, 255, 255, 0.36);
}

@media (max-width: 767px){
	body.white .navbar.navbar-default .navbar-header a.navbar-brand img {
	    background-color: #000000;
	}
}

/*
BLUE color
*/


body.blue,
body.blue .footer{
	background: #005469;
}

body.blue #page-border{
	background: #3ea2bc;
}

body.blue h1.fewwords{
	color: #FFDE56;
}

body.blue, h4.fact-title{
	color: #fff;
}

body.blue h3.styled-title{
	color: #fff;
}

body.blue .navbar.navbar-default{
	background: #005469;
}

body.blue .navbar.navbar-default .nav-tabs a.navbar-brand img{
	background: #005469;
}

body.blue .footer{
	background: #005469;
}

body.blue h2,
body.blue h5.iconbox-title{
	color: #005469;
}

body.blue .circle{
	border: 7px solid #FFDE56;
}

body.blue .copyright{
	border-top: 1px dashed #005469;
}

body.blue .copyright-content a {
    color: #fff;
}

body.blue #drawing-filters li{
	color: #fff;
}

body.blue #drawing-filters li:hover{
	color: #fff;
	background-color: #005469;
}

body.blue #contactform .form-control,
body.blue #planningform .form-control{
	border-right: 2px solid #005469;
    border-bottom: 4px solid #005469;
}

body.blue #contactform .button-submit button{
	background: #ffde56;
}

body.blue #contactform .button-submit button:hover {
    background: #005469;
}

body.blue #planningform .button-submit button{
	background: #ffde56;
}

body.blue #planningform .button-submit button:hover{
	background: #005469;
}

body.blue #planningform .radio-projects div.radio{
	background-color: rgba(0,0,0,0.50);
	color: #fff;
}

body.blue .radio-ads-projects .radio-space {
    color: #fff;
}

body.blue .logo-projects img {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.12);
}

body.blue .right-side,
body.blue .left-side {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.12);
}

body.blue .loader-container.backdrop {
    background: #fff;
}

body.blue .services-item-content {
   	border: 1px solid rgba(0,84,105,0.2);
    background: rgba(0, 84, 105, 0.1);
}

body.blue .border-left {
    border-left: 10px solid #ffffff;
}

body.blue .border-right {
    border-right: 10px solid #ffffff;
}

body.blue hr{
	background: #005469;
}

@media (max-width: 767px){
	body.blue .navbar.navbar-default .navbar-header a.navbar-brand img {
	    background-color: #005469;
	}
}


/*
ORANGE color
*/


body.orange,
body.orange .footer{
	background: #df3b1b;
}

body.orange #page-border{
	background: #c6cacb;
}

body.orange h1.fewwords{
	color: #df3b1b;
}

body.orange, h4.fact-title{
	color: #565656;
}

body.orange h3.styled-title{
	color: #df3b1b;
}

body.orange .navbar.navbar-default{
	background: #df3b1b;
}

body.orange .navbar.navbar-default .nav-tabs a.navbar-brand img{
	background: #df3b1b;
}

body.orange .footer{
	background: #df3b1b;
}

body.orange h2,
body.orange h5.iconbox-title{
	color: #df3b1b;
}

body.orange .circle{
	border: 7px solid #df3b1b;
}

body.orange .copyright{
	border-top: 1px dashed #df3b1b;
}

body.orange .copyright-content a {
    color: #df3b1b;
}

body.orange #drawing-filters li{
	color: #df3b1b;
}

body.orange #drawing-filters li:hover{
	color: #fff;
	background-color: #df3b1b;
}

body.orange #contactform .form-control,
body.orange #planningform .form-control{
	border-right: 2px solid #df3b1b;
    border-bottom: 4px solid #df3b1b;
}

body.orange #contactform .button-submit button{
	background: #df3b1b;
	color: #fff;
}

body.orange #contactform .button-submit button:hover {
    background: #8e8e8e;
}

body.orange #planningform .button-submit button{
	background: #df3b1b;
	color: #fff;
}

body.orange #planningform .button-submit button:hover{
	background: #8e8e8e;
}

body.orange #planningform .radio-projects div.radio{
	background-color: rgba(84, 81, 81, 0.5);
	color: #fff;
}

body.orange .radio-ads-projects .radio-space {
    color: #fff;
}

body.orange .logo-projects img {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.12);
}

body.orange .right-side, .left-side {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.12);
}

body.orange .loader-container.backdrop {
    background: #fff;
}

body.orange .services-item-content {
   	border: 1px solid rgba(0,84,105,0.2);
    background: rgb(197, 197, 197);
}

body.orange .border-left {
    border-left: 10px solid #ffffff;
}

body.orange .border-right {
    border-right: 10px solid #ffffff;
}

body.orange hr{
	background: #939596;
}

body.orange .iconbox .ico {
    border: 3px solid #ffffff;
}

@media (max-width: 767px){
	body.orange .navbar.navbar-default .navbar-header a.navbar-brand img {
	    background-color: #df3b1b;
	}
}



/*
=====================================================================
======== END COLORS ==========
=====================================================================
*/
